<div class="example-container">
	<mat-sidenav-container class="example-container">
		<mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
	        <mat-list>
	        	<button mat-button class="button-side">Domain</button>
	        	<button mat-button class="button-side">Kategori</button>
	        	<mat-divider></mat-divider>
	        	<button mat-button class="button-side" routerLink="/login">Logout</button>
	        </mat-list>
	    </mat-sidenav>
	    <mat-toolbar color="primary">
		    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon svgIcon="menu"></mat-icon></button>
		    <h1 class="example-app-name">Reimburse App</h1>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-container>
</div>
